{% extends "shared/base.html" %}
{% load static %}
{% block content %}
<main class="main-layout">
    <link rel="stylesheet" href="{% static "styles/postSideBar.css" %}">
    <link rel="stylesheet" href="{% static "styles/postCard.css" %}">

    <section class="sideBar">
        <h3>Search</h3><br>
        <form action="" method="get">
            <input type="text" name="search" placeholder="Search..." value={{request.GET.search}}>
            <div>
                <button type="submit" name='reset'>Reset</button>
                <button type="submit">Search</button>
            </div>
        </form>

        <br><hr><br>
        <h3>Browse Categories</h3><br>
        <ul>
            <li><a 
                class="{% if request.GET.bc == "all" %} active-link {% endif %}" 
                href="{% url "posts" %}?{% if request.GET.ba %}ba={{ request.GET.ba }}{% endif %}&bc=all"
                >All</a></li>
            {% for cat in categories %}
            <li><a 
                class="{% if cat.name == request.GET.bc %} active-link {% endif %}" 
                href="{% url "posts" %}?{% if request.GET.ba %}ba={{ request.GET.ba }}&{% endif %}bc={{ cat.name }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    
        <br><hr><br>
        <h3>Browse Authors</h3><br>
        <ul>
            <li><a 
                class="{% if request.GET.ba == "all" %} active-link {% endif %}" 
                href="{% url "posts" %}?{% if request.GET.bc %}bc={{ request.GET.bc }}{% endif %}&ba=all">All</a></li>
            {% for author in authors %}
            <li><a 
                class="{% if author.name == request.GET.ba %} active-link {% endif %}" 
                href="{% url "posts" %}?{% if request.GET.bc %}bc={{ request.GET.bc }}&{% endif %}ba={{ author.name }}">
                {{ author.name }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
    

    <section>
        <h2>Posts List <span style="font-size: 14px; font-weight: 500;">( {{postCount}} posts )</span></h2>
        <section class="card-list">
            {% if not posts  %}
                <p>Not Results Found for the applied filters</p>
            {% endif %}
            {% for post in posts %}
                {% if not post.isDeleted %}
                    <div class="card" onclick="window.location='{% url "post" post.id %}'">
                            <div class="header">
                                <h3 >{{ post.title }}</h3>
                                <span>{{ post.createdAt | timesince }} ago</span>
                            </div>
                            <div class="body">
                                <p>{{ post.content }}</p>
                                <div class="img-container">
                                    {% if post.images %}
                                        <img src="{{post.images.url}}" alt="Post's Image">
                                    {% endif %}
                                </div>
                            </div>
                            <div class="footer">
                                <span> <strong>BY ::</strong>  {{ post.author }}</span>
                                <div>
                                    <a href="{% url "edit-post" post.id %}">  <strong>Edit</strong> </a>
                                    <a href="{% url "delete-post" post.id %}">  <strong>Delete</strong> </a>
                                </div>
                            </div>
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </section>
</main>
{% endblock content %}

