{% extends "shared/base.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static "styles/userProfile.css" %}">
    <main>
        <div class="avatar">
            <img src="{% static "images/User-Profile.png" %}" alt="user">
        </div>
        <h2>{{user.username | capfirst}}</h2>
        <section>
            <table>
                <tr>
                    <th>Username: </th>
                    <td>{{user.username | capfirst}}</td>
                </tr>
                <tr>
                    <th>Date Joined: </th>
                    <td>{{user.date_joined | date:"F j, Y"}}</td>
                </tr>
                <tr>
                    <th>Posts Published: </th>
                    <td>{{postsCount}}</td>
                </tr>
            </table>
        </section>
        <section>
            <br><hr><br>
            {% include "posts/components/postsList.html" with posts=posts postsCount=postsCount %}
        </section>
    </main>
{% endblock content %}