{% load static %}
<link rel="stylesheet" href="{% static 'styles/navbar.css' %}">

<nav> 
    <ul>
        {% if request.user.is_authenticated %}
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "posts" %}">Posts</a></li>
            <li><a href="{% url "add-post" %}">Create Post</a></li>
            <li class="logout-btn"><a href="{% url "logout" %}">Logout</a></li>
        {% else %}
            <li><a href="{% url "register" %}">Register</a></li>
            <li><a href="{% url "login" %}">Login</a></li>
        {% endif %}
    </ul>     
    
</nav>